body{
    background-color: rgb(160, 160, 252);
    color: white;
    font: normal 15pt Arial;
    width: 600px;
    height: 500px;
    margin: auto;
}
header{
    text-align: center;
}
section{
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5x rgba(0, 0, 0, 0.432);
    border-radius: 5px;
    padding: 8px;
}
select#numcont{
    width: 200px;
}
footer{
    text-align: center;
    font-style: italic;
}
div#res{
    margin: auto;
    padding: 8px;
    text-align: center;
}

